<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Lab</title>
</head>
<body>
        <h1>Games List</h1>
        <ul>
          <% games.forEach(function(game) { %>
            <li>
              <%= game.recommend %>
                - 
              <%= game.fun ? 'fun' : 'not fun' %>
            </li>
          <% }); %>
        </ul>
</body>
</html>